body {
font-family: 'Roboto', sans-serif;
color: #333333;
}

.monodark::selection {
  background: #333333; /* WebKit/Blink Browsers */
  color: white;
}

body.monodark::-moz-selection {
  background: #333333; /* Gecko Browsers */
  color: white;
}
.monolight::selection {
  background: #BDBDBD; /* WebKit/Blink Browsers */
  color: white;
}

.monolight::-moz-selection {
  background: #BDBDBD; /* Gecko Browsers */
  color: white;
}

.red::selection {
  background: #EB5757; /* WebKit/Blink Browsers */
  color: white;
}

.red::-moz-selection {
  background: #EB5757; /* Gecko Browsers */
  color: white;
}

.green::selection {
  background: #27AE60; /* WebKit/Blink Browsers */
  color: white;
}

.green::-moz-selection {
  background: #27AE60; /* Gecko Browsers */
  color: white;
}

.blue::selection {
  background: #2F80ED; /* WebKit/Blink Browsers */
  color: white;
}

.blue::-moz-selection {
  background: #2F80ED; /* Gecko Browsers */
  color: white;
}

.bluedark::selection {
  background: #4F4F4F; /* WebKit/Blink Browsers */
  color: white;
}

.bluedark::-moz-selection {
  background: #4F4F4F; /* Gecko Browsers */
  color: white;
}

section {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.content {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

.logo {
  max-width: 100%;
  padding-bottom: 15px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.intro {
  font-family: 'museo_sans500', sans-serif;
}

.about {
  height: 100%;
}

.fas{
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fab{
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

a:link,
a:hover,
a:visited,
a:active {
	color: #4A4A4A;
    -o-transition:color .2s ease-out;
    -ms-transition:color .2s ease-out;
    -moz-transition:color .2s ease-out;
    -webkit-transition:color .2s ease-out;
    transition:color .2s ease-out;
	   border: none;
	    text-decoration: none;
	/* font-weight: 100; */
}

a:hover {
	color: #333333;
}
